$input_width: 25%;

label {
  font-size: 20px;
}

.input-form-mail {
  margin: 20px auto;
}

.input {
  width: auto;
  margin: 5px auto;
}

.button {
  width: 60px;
  margin: 10px auto;
  border: 2px solid #00ac1f;
  background-color: #2bff25;
  font-weight: bold;
}

.clear-btn {
  margin: 1px auto;
  border: 2px solid #ba1437;
  background-color: #ff0000;
}
